---
---

@import "{{ site.theme }}";

.main-content .updates {
  font-size: .8rem; }

  .main-content .updates h1 {
    margin-bottom: 0; }
  .main-content .updates h2 {
    margin-top: 1rem; }

.audio-player {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.audio-player a {
  display: block;
  width: 100%;
}

.audio-player select {
  margin: 0 .4rem;

}

.main-content table th, .main-content table td {
  padding: .1rem .75rem;
}

.main-content tbody {
  font-size: .9rem;
}
